.flash-box
  .flash-box__notice グループを作成しました
.chat-side
  .side-header 
    .side-header__box
      %p.side-header__box--user-name 名前
      %ul.side-header__box--menu
        %li
          =link_to "#", class: "side-header__btn" do
            %i.fa.fa-edit
        %li
          =link_to "#", class: "side-header__btn" do
            %i.fa.fa-cog


    
      

        
     
  

       
  .groups 
    %p.groups__name
      %a{ href: "#"} sample-group
    %p.groups__test
      %a{ href: "#"} こんにちは

      
    

    
.chat-main
  .main-header
    .mein-header__left
      %p.main-header__left--group Sample
      %p.main-header__left--member Menber:
    .mein-header__right
      %p.main-header__right--edit Edit

  .message 
    .data-message
      .data-message__info
        %p.data-message__info--talker name
        %p.data-message__info--data 2019/10/23(wed) 19:40:57
      .data-message__txet dddd

      
  .form 
    .new-message
      %input.new-message__input{ name: "message[content]", placeholder: "type a message", type: "text"}
        %label.new-message__input--image{ for: "message_image"}
          %i.fa.fa-image
        
    .submit send
        
        
      

    
         

