%body
  .flash-box
    .flash-box__notice グループを作成しました
  .chat-side
    .side-header 名前
     
  

       
    .groups 
      %h3 
        %a{:href => "#"} sample-group
      %p 
        %a{:href => "#"} こんにちは

      
    

    
  .chat-main
    .main-header edit

    .mein-content text
    
    .messages メッセージ
    
    .form 送信
    
         

